name: format
on: [push]

jobs:
  format:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install black
        run: pip install black

      - name: Run black formatter
        run: black --check --diff .
